:root {
  --color-black: #000;
  --color-white: #FFF;
  
  --color-grey: rgba(255, 255, 255, 0.70);
  --max-width: 1440px;

  --color-blue: #2196F3;
  --color-blue2: #1E88E5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-black);
  background: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}
